* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: auto;
	background-image: url(/Tugas-Harian-Part-1/Tugas-2/public/css/pattern.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin: 50px 0 20px 0;
	text-align: center;
	font-size: 30px;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	align-items: center;
	background-color: #ffffff;
	position: sticky;
	top: 0;
}

li,
a {
	list-style-type: none;
	text-decoration: none;
}

li {
	display: inline;
	margin-right: 10px;
}

main {
	width: 70%;
	margin: auto;
	margin-top: 16px;
}

section {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}

div {
	padding: 30px 20px;
	border-bottom: 1px solid grey;
}

footer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	align-items: center;
	position: sticky;
	bottom: 0;
}

h5 {
	text-align: center;
}
