@import url('https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet');

body {
  background-image: url(../img/pattern.jpg);
  font-family: "Slabo 27px", serif;
  margin: 0px;
}

header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

section {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

.article {
  border-bottom: 1px solid lightgrey;
}

h5 {
  text-align: center;
}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.conten {
  width: 550px;
  height: 300px;
  overflow: hidden;
  float: left;
}

.conten img {
  width: 100%;
}

.details {
  margin-left: 560px;
}

.logbox {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  width: 329px;
}

.loginform {
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
}

.dataform {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inpt {
  background: #fbfbfb;
  padding-top: 14px;
  border: none;
  outline: none;
  width: 250px;
}

.inptborder {
  background: black;
  height: 1px;
  width: 80%;
}
