* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.FormBuah button {
  padding: 4px 8px;
  font-size: 13px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
}

.FormBuah {
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 400px;
  padding: 10px;
  font-family: serif;
}

.tableArea {
  width: 50%;
  margin-left: 340px;
  border: 1px solid black;
  font-family: serif;
}

.tableHeader {
  background-color: silver;
}

.tableData {
  background-color: rgb(243, 112, 69);
  font-weight: 450;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.border-form {
  border: 1px solid grey;
  width: 50%;
  margin: 0 auto;
}

.FormBuah td {
  border-bottom: none;
  margin-right: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder {
  margin: 15px 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 2px solid rgb(199, 197, 197);
}

nav ul {
  display: inline-block;
}

nav a {
  list-style: none;
  text-decoration: none;
  color: #646363;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  font-size: 17px;
  font-weight: bold;
}

nav li a:hover {
  color: #dad6d6;
}
