form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.label-form {
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.desc {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
