/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("./Public/img/pattern.jpg");
}

.container {
  margin: 10px 15%;
  padding: 10px;
  background-color: #fff;
  flex-direction: column;
}

.border-about {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.border-about p {
  margin-left: 20px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  align-items: center;
  position: sticky;
  bottom: 0;
}

h5 {
  text-align: center;
}
