.books-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  border-bottom: 2px solid #ddd;
}

.top {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.books-list .ket {
  justify-content: flex-end;
}

.books-list img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  align-items: center;
  position: sticky;
  bottom: 0;
}

h5 {
  text-align: center;
}
